<h1>Sign up</h1>

<form action="/authors" accept-charset="UTF-8" method="post">
    <label for="author_first_name" name="author">First Name</label>
    <input id="author_first_name" name="first_name" type="text"></input>

    <label for="author_last_name" name="author">Last Name</label>
    <input id="author_last_name" name="last_name" type="text"></input>

    <label for="author_nick" name="author">Nick</label>
    <input id="author_nick" name="nick" type="text"></input>

    <label for="author_email" name="author">Email</label>
    <input id="author_email" name="email" type="email"></input>

    <label for="author_password" name="author">Password</label>
    <input id="author_password" name="password" type="password"></input>

    <button type="submit">Sign Up</button>
</form>
