<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>kitallis' www</title>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Web Starter Kit">
    <link rel="icon" sizes="192x192" href="/img/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" href="/img/touch/apple-touch-icon.png">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#2A363B">

    <!-- Load the CSS -->
    <link rel="stylesheet" href="/css/main.css" lang="text/css" media="screen"/>
</head>

<body>

<header class="container center text-center push-dbl-bottom push-dbl-top">
    <div>
        <a class="undecorated" aria-label="All posts from Akshay Gupta" href="/pratul">
            <img class="author-avatar" src="/img/kit.jpg" size="70x70">

            <h1 class="author-name">
                Akshay Gupta
            </h1>
        </a>
    </div>
</header>

<section class="container center text-center push-dbl-bottom">
    <div>
        <form action="localhost:3000/kitallis/subscribe" accept-charset="UTF-8" data-remote="true" method="post">
            <div>
                <input class="author-subscribe-email" type="email" name="subscriber[email_address]"
                       placeholder="Type your email…" required>
                <button class="author-subscribe-button">Subscribe</button>
            </div>
        </form>
    </div>
</section>

{{embed}}

<footer class="container center text-center push-dbl-bottom">Published with <a
        href="https://github.com/nid90/kawaii-blog-engine">カクセ</a></footer>

</body>
</html>

